In [1]:
# some useful mysklearn package import statements and reloads
import importlib

import mysklearn.myutils
importlib.reload(mysklearn.myutils)
import mysklearn.myutils as myutils

import mysklearn.mypytable
importlib.reload(mysklearn.mypytable)
from mysklearn.mypytable import MyPyTable 

import mysklearn.myclassifiers
importlib.reload(mysklearn.myclassifiers)
from mysklearn.myclassifiers import MyKNeighborsClassifier, MyDummyClassifier, MyNaiveBayesClassifier, MyDecisionTreeClassifier

import mysklearn.myevaluation
importlib.reload(mysklearn.myevaluation)
import mysklearn.myevaluation as myevaluation

In [ ]:
dino_table = MyPyTable().load_from_file('input_data/dinosaurs.csv')
dino_table.remove_rows_with_missing_values()


y = dino_table.get_column(dino_table.column_names.index("name"))  # The 'survived' column is the target
X = [row[:dino_table.column_names.index("name")] + row[dino_table.column_names.index("name") + 1:] for row in dino_table.data]

tree_classifier = MyDecisionTreeClassifier()
tree_classifier.fit(X,y)
header = dino_table.column_names

tree_classifier.print_decision_rules(attribute_names=header)
tree_classifier.visualize_tree(
    "dino_tree.dot", "dino_tree", attribute_names=header
)

print(len(dino_table.data))
print(len(set(dino_table.get_column(dino_table.column_names.index("name")))))

IF occurrence_no == 130209.0 THEN class = Chaoyangsaurus.
IF occurrence_no == 130294.0 THEN class = Protarchaeopteryx.
IF occurrence_no == 130295.0 THEN class = Caudipteryx.
IF occurrence_no == 139242.0 THEN class = Gorgosaurus.
IF occurrence_no == 139250.0 THEN class = Gorgosaurus.
IF occurrence_no == 139251.0 THEN class = Centrosaurus.
IF occurrence_no == 139252.0 THEN class = Gorgosaurus.
IF occurrence_no == 139253.0 THEN class = Gorgosaurus.
IF occurrence_no == 139254.0 THEN class = Gorgosaurus.
IF occurrence_no == 139255.0 THEN class = Albertosaurus.
IF occurrence_no == 139256.0 THEN class = Albertosaurus.
IF occurrence_no == 139257.0 THEN class = Albertosaurus.
IF occurrence_no == 139258.0 THEN class = Albertosaurus.
IF occurrence_no == 139259.0 THEN class = Albertosaurus.
IF occurrence_no == 139260.0 THEN class = Isisaurus.
IF occurrence_no == 139261.0 THEN class = Daspletosaurus.
IF occurrence_no == 139262.0 THEN class = Daspletosaurus.
IF occurrence_no == 139290.0 THEN class = Daspletosaurus.
IF occurrence_no == 139291.0 THEN class = Albertosaurus.
IF occurrence_no == 139292.0 THEN class = Tyrannosaurus.
IF occurrence_no == 139293.0 THEN class = Tyrannosaurus.
IF occurrence_no == 139294.0 THEN class = Gryposaurus.
IF occurrence_no == 139306.0 THEN class = Amygdalodon.
IF occurrence_no == 139307.0 THEN class = Camarasaurus.
IF occurrence_no == 139308.0 THEN class = Camarasaurus.
IF occurrence_no == 139340.0 THEN class = Ankylosaurus.
IF occurrence_no == 144307.0 THEN class = Bistahieversor.
IF occurrence_no == 147092.0 THEN class = Pachycephalosaurus.
IF occurrence_no == 148500.0 THEN class = Sonorasaurus.
IF occurrence_no == 148628.0 THEN class = Mononykus.
IF occurrence_no == 148629.0 THEN class = Tarbosaurus.
IF occurrence_no == 149592.0 THEN class = Allosaurus.
IF occurrence_no == 149596.0 THEN class = Allosaurus.
IF occurrence_no == 149598.0 THEN class = Diplodocus.
IF occurrence_no == 149599.0 THEN class = Stegosaurus.
IF occurrence_no == 149600.0 THEN class = Camarasaurus.
IF occurrence_no == 149860.0 THEN class = Hypsilophodon.
IF occurrence_no == 149981.0 THEN class = Scutellosaurus.
IF occurrence_no == 149982.0 THEN class = Scutellosaurus.
IF occurrence_no == 149983.0 THEN class = Orodromeus.
IF occurrence_no == 149984.0 THEN class = Maiasaura.
IF occurrence_no == 149987.0 THEN class = Goyocephale.
IF occurrence_no == 149988.0 THEN class = Efraasia.
IF occurrence_no == 149989.0 THEN class = Tethyshadros.
IF occurrence_no == 150175.0 THEN class = Massospondylus.
IF occurrence_no == 150240.0 THEN class = Amargasaurus.
IF occurrence_no == 150241.0 THEN class = Telmatosaurus.
IF occurrence_no == 150242.0 THEN class = Owenodon.
IF occurrence_no == 150248.0 THEN class = Valdosaurus.
IF occurrence_no == 150309.0 THEN class = Styracosaurus.
IF occurrence_no == 150310.0 THEN class = Centrosaurus.
IF occurrence_no == 150311.0 THEN class = Apatosaurus.
IF occurrence_no == 150350.0 THEN class = Diplodocus.
IF occurrence_no == 150351.0 THEN class = Brontosaurus.
IF occurrence_no == 150352.0 THEN class = Stegosaurus.
IF occurrence_no == 150354.0 THEN class = Camarasaurus.
IF occurrence_no == 150849.0 THEN class = Dilophosaurus.
IF occurrence_no == 150850.0 THEN class = Dilophosaurus.
IF occurrence_no == 150851.0 THEN class = Graciliceratops.
IF occurrence_no == 154975.0 THEN class = Bagaceratops.
IF occurrence_no == 219965.0 THEN class = Iguanodon.
IF occurrence_no == 219971.0 THEN class = Diplodocus.
IF occurrence_no == 219972.0 THEN class = Camarasaurus.
IF occurrence_no == 219973.0 THEN class = Stegosaurus.
IF occurrence_no == 219974.0 THEN class = Brontosaurus.
IF occurrence_no == 219975.0 THEN class = Allosaurus.
IF occurrence_no == 219980.0 THEN class = Camarasaurus.
IF occurrence_no == 219990.0 THEN class = Prosaurolophus.
IF occurrence_no == 219992.0 THEN class = Maiasaura.
IF occurrence_no == 219993.0 THEN class = Orodromeus.
IF occurrence_no == 219998.0 THEN class = Tyrannosaurus.
IF occurrence_no == 220000.0 THEN class = Nodosaurus.
IF occurrence_no == 220004.0 THEN class = Chasmosaurus.
IF occurrence_no == 220009.0 THEN class = Tyrannosaurus.
IF occurrence_no == 220010.0 THEN class = Centrosaurus.
IF occurrence_no == 220011.0 THEN class = Velociraptor.
IF occurrence_no == 220027.0 THEN class = Mojoceratops.
IF occurrence_no == 220028.0 THEN class = Gorgosaurus.
IF occurrence_no == 220033.0 THEN class = Coelophysis.
IF occurrence_no == 220038.0 THEN class = Kotasaurus.
IF occurrence_no == 220055.0 THEN class = Diplodocus.
IF occurrence_no == 220056.0 THEN class = Camarasaurus.
IF occurrence_no == 220057.0 THEN class = Stegosaurus.
IF occurrence_no == 220058.0 THEN class = Allosaurus.
IF occurrence_no == 220059.0 THEN class = Camptosaurus.
IF occurrence_no == 220060.0 THEN class = Barosaurus.
IF occurrence_no == 220070.0 THEN class = Plateosaurus.
IF occurrence_no == 220073.0 THEN class = Liliensternus.
IF occurrence_no == 220082.0 THEN class = Plateosaurus.
IF occurrence_no == 220084.0 THEN class = Liliensternus.
IF occurrence_no == 220087.0 THEN class = Liliensternus.
IF occurrence_no == 220090.0 THEN class = Velociraptor.
IF occurrence_no == 220091.0 THEN class = Protoceratops.
IF occurrence_no == 220092.0 THEN class = Protoceratops.
IF occurrence_no == 220095.0 THEN class = Hypsilophodon.
IF occurrence_no == 220096.0 THEN class = Prosaurolophus.
IF occurrence_no == 220097.0 THEN class = Hypacrosaurus.
IF occurrence_no == 220098.0 THEN class = Gryposaurus.
IF occurrence_no == 220099.0 THEN class = Troodon.
IF occurrence_no == 220109.0 THEN class = Maiasaura.
IF occurrence_no == 220124.0 THEN class = Pachyrhinosaurus.
IF occurrence_no == 220162.0 THEN class = Allosaurus.
IF occurrence_no == 220163.0 THEN class = Diplodocus.
IF occurrence_no == 220164.0 THEN class = Stegosaurus.
IF occurrence_no == 220165.0 THEN class = Dryosaurus.
IF occurrence_no == 220166.0 THEN class = Camptosaurus.
IF occurrence_no == 220227.0 THEN class = Mantellisaurus.
IF occurrence_no == 220228.0 THEN class = Iguanodon.
IF occurrence_no == 221280.0 THEN class = Styracosaurus.
IF occurrence_no == 221281.0 THEN class = Centrosaurus.
IF occurrence_no == 225583.0 THEN class = Apatosaurus.
IF occurrence_no == 225585.0 THEN class = Stegosaurus.
IF occurrence_no == 229313.0 THEN class = Hypacrosaurus.
IF occurrence_no == 229314.0 THEN class = Prosaurolophus.
IF occurrence_no == 229315.0 THEN class = Einiosaurus.
IF occurrence_no == 229317.0 THEN class = Einiosaurus.
IF occurrence_no == 229333.0 THEN class = Chindesaurus.
IF occurrence_no == 229342.0 THEN class = Agujaceratops.
IF occurrence_no == 247238.0 THEN class = Sauroposeidon.
IF occurrence_no == 248041.0 THEN class = Dromaeosaurus.
IF occurrence_no == 248042.0 THEN class = Saurornitholestes.
IF occurrence_no == 248043.0 THEN class = Troodon.
IF occurrence_no == 248044.0 THEN class = Richardoestesia.
IF occurrence_no == 248060.0 THEN class = Dromaeosaurus.
IF occurrence_no == 248061.0 THEN class = Saurornitholestes.
IF occurrence_no == 248062.0 THEN class = Troodon.
IF occurrence_no == 248063.0 THEN class = Richardoestesia.
IF occurrence_no == 248075.0 THEN class = Avaceratops.
IF occurrence_no == 248594.0 THEN class = Latirhinus.
IF occurrence_no == 255376.0 THEN class = Anatotitan.
IF occurrence_no == 255621.0 THEN class = Dryptosaurus.
IF occurrence_no == 255623.0 THEN class = Hadrosaurus.
IF occurrence_no == 255936.0 THEN class = Sphingopus.
IF occurrence_no == 256118.0 THEN class = Triceratops.
IF occurrence_no == 256195.0 THEN class = Emausaurus.
IF occurrence_no == 256216.0 THEN class = Mamenchisaurus.
IF occurrence_no == 256434.0 THEN class = Eoraptor.
IF occurrence_no == 256435.0 THEN class = Herrerasaurus.
IF occurrence_no == 256441.0 THEN class = Herrerasaurus.
IF occurrence_no == 256442.0 THEN class = Titanosaurus.
IF occurrence_no == 256525.0 THEN class = Protohadros.
IF occurrence_no == 256534.0 THEN class = Vagaceratops.
IF occurrence_no == 256539.0 THEN class = Vagaceratops.
IF occurrence_no == 256575.0 THEN class = Iguanodon.
IF occurrence_no == 256679.0 THEN class = Mantellisaurus.
IF occurrence_no == 256680.0 THEN class = Haestasaurus.
IF occurrence_no == 256711.0 THEN class = Wannanosaurus.
IF occurrence_no == 256913.0 THEN class = Saurornitholestes.
IF occurrence_no == 259283.0 THEN class = Agujaceratops.
IF occurrence_no == 259321.0 THEN class = Tenontosaurus.
IF occurrence_no == 259322.0 THEN class = Tenontosaurus.
IF occurrence_no == 259970.0 THEN class = Dilophosaurus.
IF occurrence_no == 259971.0 THEN class = Yunnanosaurus.
IF occurrence_no == 259972.0 THEN class = Carcharodontosaurus.
IF occurrence_no == 259976.0 THEN class = Spinosaurus.
IF occurrence_no == 260021.0 THEN class = Carcharodontosaurus.
IF occurrence_no == 260022.0 THEN class = Elaphrosaurus.
IF occurrence_no == 260025.0 THEN class = Carcharodontosaurus.
IF occurrence_no == 260035.0 THEN class = Elaphrosaurus.
IF occurrence_no == 260040.0 THEN class = Acrocanthosaurus.
IF occurrence_no == 260041.0 THEN class = Acrocanthosaurus.
IF occurrence_no == 260042.0 THEN class = Acrocanthosaurus.
IF occurrence_no == 260589.0 THEN class = Carcharodontosaurus.
IF occurrence_no == 260591.0 THEN class = Elaphrosaurus.
IF occurrence_no == 260593.0 THEN class = Elaphrosaurus.
IF occurrence_no == 260595.0 THEN class = Carcharodontosaurus.
IF occurrence_no == 260596.0 THEN class = Carcharodontosaurus.
IF occurrence_no == 260598.0 THEN class = Carcharodontosaurus.
IF occurrence_no == 260599.0 THEN class = Elaphrosaurus.
IF occurrence_no == 260601.0 THEN class = Carcharodontosaurus.
IF occurrence_no == 260606.0 THEN class = Elaphrosaurus.
IF occurrence_no == 260828.0 THEN class = Bahariasaurus.
IF occurrence_no == 260830.0 THEN class = Aegyptosaurus.
IF occurrence_no == 260832.0 THEN class = Bahariasaurus.
IF occurrence_no == 260834.0 THEN class = Carcharodontosaurus.
IF occurrence_no == 260835.0 THEN class = Elaphrosaurus.
IF occurrence_no == 260836.0 THEN class = Spinostropheus.
IF occurrence_no == 260838.0 THEN class = Aegyptosaurus.
IF occurrence_no == 260845.0 THEN class = Aegyptosaurus.
IF occurrence_no == 260899.0 THEN class = Spinostropheus.
IF occurrence_no == 260900.0 THEN class = Elaphrosaurus.
IF occurrence_no == 260901.0 THEN class = Carcharodontosaurus.
IF occurrence_no == 261810.0 THEN class = Agnosphitys.
IF occurrence_no == 261839.0 THEN class = Segisaurus.
IF occurrence_no == 261854.0 THEN class = Saturnalia.
IF occurrence_no == 262165.0 THEN class = Carcharodontosaurus.
IF occurrence_no == 262166.0 THEN class = Deltadromeus.
IF occurrence_no == 262167.0 THEN class = Rebbachisaurus.
IF occurrence_no == 262179.0 THEN class = Spinosaurus.
IF occurrence_no == 262347.0 THEN class = Carcharodontosaurus.
IF occurrence_no == 262359.0 THEN class = Ouranosaurus.
IF occurrence_no == 262360.0 THEN class = Elaphrosaurus.
IF occurrence_no == 263353.0 THEN class = Polacanthus.
IF occurrence_no == 263808.0 THEN class = Carnotaurus.
IF occurrence_no == 266833.0 THEN class = Saurornitholestes.
IF occurrence_no == 266834.0 THEN class = Troodon.
IF occurrence_no == 266835.0 THEN class = Orodromeus.
IF occurrence_no == 269458.0 THEN class = Psittacosaurus.
IF occurrence_no == 269492.0 THEN class = Scelidosaurus.
IF occurrence_no == 276681.0 THEN class = Lametasaurus.
IF occurrence_no == 276682.0 THEN class = Indosuchus.
IF occurrence_no == 276683.0 THEN class = Indosaurus.
IF occurrence_no == 276687.0 THEN class = Laevisuchus.
IF occurrence_no == 276698.0 THEN class = Titanosaurus.
IF occurrence_no == 276699.0 THEN class = Jainosaurus.
IF occurrence_no == 277109.0 THEN class = Pisanosaurus.
IF occurrence_no == 280099.0 THEN class = Edmontosaurus.
IF occurrence_no == 280100.0 THEN class = Troodon.
IF occurrence_no == 280101.0 THEN class = Tyrannosaurus.
IF occurrence_no == 280102.0 THEN class = Nanotyrannus.
IF occurrence_no == 280103.0 THEN class = Saurornitholestes.
IF occurrence_no == 280104.0 THEN class = Richardoestesia.
IF occurrence_no == 280105.0 THEN class = Dromaeosaurus.
IF occurrence_no == 280197.0 THEN class = Gryposaurus.
IF occurrence_no == 280200.0 THEN class = Panoplosaurus.
IF occurrence_no == 280542.0 THEN class = Maiasaura.
IF occurrence_no == 280571.0 THEN class = Brachylophosaurus.
IF occurrence_no == 280572.0 THEN class = Troodon.
IF occurrence_no == 280573.0 THEN class = Hylaeosaurus.
IF occurrence_no == 280574.0 THEN class = Iguanodon.
IF occurrence_no == 280829.0 THEN class = Cumnoria.
IF occurrence_no == 280867.0 THEN class = Hypsilophodon.
IF occurrence_no == 280868.0 THEN class = Iguanodon.
IF occurrence_no == 280927.0 THEN class = Duriatitan.
IF occurrence_no == 280983.0 THEN class = Ornithopsis.
IF occurrence_no == 280989.0 THEN class = Mantellisaurus.
IF occurrence_no == 280990.0 THEN class = Polacanthus.
IF occurrence_no == 283057.0 THEN class = Histriasaurus.
IF occurrence_no == 283828.0 THEN class = Plateosaurus.
IF occurrence_no == 283860.0 THEN class = Plateosaurus.
IF occurrence_no == 283992.0 THEN class = Parvicursor.
IF occurrence_no == 284027.0 THEN class = Pantydraco.
IF occurrence_no == 284147.0 THEN class = Utahraptor.
IF occurrence_no == 284148.0 THEN class = Gastonia.
IF occurrence_no == 284613.0 THEN class = Utahraptor.
IF occurrence_no == 284615.0 THEN class = Moabosaurus.
IF occurrence_no == 284618.0 THEN class = Gastonia.
IF occurrence_no == 285083.0 THEN class = Eolambia.
IF occurrence_no == 285084.0 THEN class = Animantarx.
IF occurrence_no == 287916.0 THEN class = Albertosaurus.
IF occurrence_no == 287917.0 THEN class = Paronychodon.
IF occurrence_no == 287918.0 THEN class = Thescelosaurus.
IF occurrence_no == 287919.0 THEN class = Edmontosaurus.
IF occurrence_no == 287920.0 THEN class = Triceratops.
IF occurrence_no == 288584.0 THEN class = Saurornitholestes.
IF occurrence_no == 288586.0 THEN class = Richardoestesia.
IF occurrence_no == 289723.0 THEN class = Tenontosaurus.
IF occurrence_no == 289738.0 THEN class = Tenontosaurus.
IF occurrence_no == 291021.0 THEN class = Tyrannosaurus.
IF occurrence_no == 291022.0 THEN class = Thescelosaurus.
IF occurrence_no == 291023.0 THEN class = Triceratops.
IF occurrence_no == 292785.0 THEN class = Cetiosaurus.
IF occurrence_no == 292842.0 THEN class = Stegopelta.
IF occurrence_no == 292850.0 THEN class = Epidendrosaurus.
IF occurrence_no == 292868.0 THEN class = Richardoestesia.
IF occurrence_no == 292872.0 THEN class = Paronychodon.
IF occurrence_no == 293757.0 THEN class = Fuscinapedis.
IF occurrence_no == 294012.0 THEN class = Mirischia.
IF occurrence_no == 294055.0 THEN class = Irritator.
IF occurrence_no == 295292.0 THEN class = Mamenchisaurus.
IF occurrence_no == 295293.0 THEN class = Xuanhanosaurus.
IF occurrence_no == 295296.0 THEN class = Shunosaurus.
IF occurrence_no == 296427.0 THEN class = Moyenisauropus.
IF occurrence_no == 296444.0 THEN class = Dystrophaeus.
IF occurrence_no == 296465.0 THEN class = Diplodocus.
IF occurrence_no == 296471.0 THEN class = Claosaurus.
IF occurrence_no == 296498.0 THEN class = Stegosaurus.
IF occurrence_no == 297004.0 THEN class = Coelurus.
IF occurrence_no == 297018.0 THEN class = Nodosaurus.
IF occurrence_no == 297120.0 THEN class = Dubreuillosaurus.
IF occurrence_no == 297282.0 THEN class = Variraptor.
IF occurrence_no == 297286.0 THEN class = Atsinganosaurus.
IF occurrence_no == 297287.0 THEN class = Rhabdodon.
IF occurrence_no == 297290.0 THEN class = Variraptor.
IF occurrence_no == 297294.0 THEN class = Tarascosaurus.
IF occurrence_no == 297299.0 THEN class = Ilokelesia.
IF occurrence_no == 297300.0 THEN class = Quilmesaurus.
IF occurrence_no == 297301.0 THEN class = Giganotosaurus.
IF occurrence_no == 297302.0 THEN class = Aucasaurus.
IF occurrence_no == 297314.0 THEN class = Sphingopus.
IF occurrence_no == 297555.0 THEN class = Piatnitzkysaurus.
IF occurrence_no == 297556.0 THEN class = Patagosaurus.
IF occurrence_no == 297557.0 THEN class = Volkheimeria.
IF occurrence_no == 297562.0 THEN class = Patagosaurus.
IF occurrence_no == 297616.0 THEN class = Anchiceratops.
IF occurrence_no == 297694.0 THEN class = Rhabdodon.
IF occurrence_no == 297697.0 THEN class = Lurdusaurus.
IF occurrence_no == 297698.0 THEN class = Lesothosaurus.
IF occurrence_no == 297800.0 THEN class = Skartopus.
IF occurrence_no == 297836.0 THEN class = Lesothosaurus.
IF occurrence_no == 298934.0 THEN class = Lirainosaurus.
IF occurrence_no == 299144.0 THEN class = Bactrosaurus.
IF occurrence_no == 300498.0 THEN class = Psittacosaurus.
IF occurrence_no == 301076.0 THEN class = Nuthetes.
IF occurrence_no == 301092.0 THEN class = Echinodon.
IF occurrence_no == 301109.0 THEN class = Nuthetes.
IF occurrence_no == 303971.0 THEN class = Cetiosaurus.
IF occurrence_no == 303972.0 THEN class = Megalosaurus.
IF occurrence_no == 342961.0 THEN class = Tenontosaurus.
IF occurrence_no == 342987.0 THEN class = Tenontosaurus.
IF occurrence_no == 343501.0 THEN class = Camarasaurus.
IF occurrence_no == 343541.0 THEN class = Megalosauropus.
IF occurrence_no == 343542.0 THEN class = Iguanodon.
IF occurrence_no == 343720.0 THEN class = Spinosaurus.
IF occurrence_no == 343790.0 THEN class = Albalophosaurus.
IF occurrence_no == 343812.0 THEN class = Pycnonemosaurus.
IF occurrence_no == 343835.0 THEN class = Abelisaurus.
IF occurrence_no == 343953.0 THEN class = Shamosaurus.
IF occurrence_no == 343957.0 THEN class = Majungasaurus.
IF occurrence_no == 343959.0 THEN class = Traukutitan.
IF occurrence_no == 343961.0 THEN class = Aeolosaurus.
IF occurrence_no == 343963.0 THEN class = Willinakaqe.
IF occurrence_no == 360364.0 THEN class = Zupaysaurus.
IF occurrence_no == 362179.0 THEN class = Saurornitholestes.
IF occurrence_no == 362355.0 THEN class = Saurornitholestes.
IF occurrence_no == 362356.0 THEN class = Troodon.
IF occurrence_no == 362396.0 THEN class = Saurornitholestes.
IF occurrence_no == 362397.0 THEN class = Troodon.
IF occurrence_no == 362681.0 THEN class = Saurornitholestes.
IF occurrence_no == 362795.0 THEN class = Richardoestesia.
IF occurrence_no == 366438.0 THEN class = Coelophysis.
IF occurrence_no == 367089.0 THEN class = Rajasaurus.
IF occurrence_no == 367091.0 THEN class = Silvisaurus.
IF occurrence_no == 367435.0 THEN class = Edmontosaurus.
IF occurrence_no == 367436.0 THEN class = Troodon.
IF occurrence_no == 367439.0 THEN class = Deinonychus.
IF occurrence_no == 367440.0 THEN class = Leptoceratops.
IF occurrence_no == 367589.0 THEN class = Vulcanodon.
IF occurrence_no == 367656.0 THEN class = Massospondylus.
IF occurrence_no == 367667.0 THEN class = Coelophysis.
IF occurrence_no == 368057.0 THEN class = Megalosauropus.
IF occurrence_no == 368113.0 THEN class = Pentaceratops.
IF occurrence_no == 368114.0 THEN class = Albertosaurus.
IF occurrence_no == 368120.0 THEN class = Pentaceratops.
IF occurrence_no == 368121.0 THEN class = Pentaceratops.
IF occurrence_no == 372354.0 THEN class = Coelophysis.
IF occurrence_no == 372355.0 THEN class = Coelophysis.
IF occurrence_no == 372356.0 THEN class = Coelophysis.
IF occurrence_no == 372429.0 THEN class = Compsognathus.
IF occurrence_no == 372542.0 THEN class = Barapasaurus.
IF occurrence_no == 372803.0 THEN class = Mendozasaurus.
IF occurrence_no == 372844.0 THEN class = Albertosaurus.
IF occurrence_no == 372856.0 THEN class = Rhabdodon.
IF occurrence_no == 372870.0 THEN class = Struthiosaurus.
IF occurrence_no == 372881.0 THEN class = Camarasaurus.
IF occurrence_no == 372891.0 THEN class = Blikanasaurus.
IF occurrence_no == 372892.0 THEN class = Massospondylus.
IF occurrence_no == 372893.0 THEN class = Thecodontosaurus.
IF occurrence_no == 373398.0 THEN class = Pawpawsaurus.
IF occurrence_no == 374384.0 THEN class = Mojoceratops.
IF occurrence_no == 376512.0 THEN class = Styracosaurus.
IF occurrence_no == 376584.0 THEN class = Kritosaurus.
IF occurrence_no == 379672.0 THEN class = Piveteausaurus.
IF occurrence_no == 379964.0 THEN class = Pinacosaurus.
IF occurrence_no == 379966.0 THEN class = Tanius.
IF occurrence_no == 379968.0 THEN class = Dryosaurus.